*{
    margin: 0;
    padding: 0;
}
#container{
    width: 800px;
    height: 795px;
    margin: 0 auto;   
}
.barra_layout{
    width: 800px;
    height: 35px;
    background: #6B6712;
}
#menu{
    clear: both;
}
#menu ul{
    text-align: center;
    padding-top: 9px;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font:  bold 17px arial, verdana;
    padding: 10px 40px;
}
#banner{
    width: 800px;
    height: 230px;
    background: url(../imagens/logo.fw.png);
}
#lado_esquerdo{
    width:546px;
    height:485px;
    float: left;
    margin: 5px 0;
}
#lado_direito{
    width: 250px;
    height: 485px;
    float: right;
    margin: 5px 0;
    background-color: rosybrown;  
} 
 #bloco1{
    width: 543px;
    height: 208px;
    float: left;
 }
#bloco2{
    width: 270px;
    height: 274px;
    float: left;
    margin: 2px 0;
}
#bloco3{
    width: 270px;
    height: 274px;
    float: left;
    margin: 2px 3px;
} 

.fundo_bloco{
    background: #dfdfe6;
}  
