
/* caixa geral(fundo) */
#geral{
    width: 1000px;
    height: 720px;
    margin: 0 auto;
}
 .banner{
    width: 996px;
    height: 190px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 8px;

}
.img_superior{
    width: 996px;
    border-radius: 5px;
}
.barra_layout{
    width: 996px;
    height: 35px;
    background:	#37af37;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 5px auto 5px;
}
#art1{
    width: 259px;
    height: 220px;
    float: left;
    border: 2px solid #000;
    border-radius: 8px;
}
.titulo_1{
    text-align: center;
    font: bold 20px arial, verdana, sans-serif;
    margin: 40px 0 15px
}

#art2{
    width: 259px;
    height: 220px;
    float: left;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 0 4px 0;
}
.titulo_2{
    text-align: center;
    font: bold 20px arial, verdana, sans-serif;
    margin: 40px 0 15px
}
#art3{
    width: 259px;
    height: 220px;
    float: left;
    border: 2px solid #000;
    border-radius: 8px;
}
.titulo_3{
    text-align: center;
    font: bold 20px arial, verdana, sans-serif;
    margin: 40px 0 15px
}
#art4{
    width: 794px;
    height: 221px;
    float: left;
    border: 2px solid #000;
    border-radius: 8px;
    margin: 5px auto 0;
}
.titulo_4{
    text-align: center;
    font: bold 20px arial, verdana, sans-serif;
    margin: 40px 0 0;
}
.img_arvore{
    display: block;
    margin: 0 30px 0;  
    float: left; 
}
.texto_p{
    padding: 0 15px;
   
}
 #banner2{
    width: 195px;
    height: 450px;
    float: right;
    border: 2px solid #000;
    border-radius: 8px;  
    
} 
.img_racao{
    border-radius: 5px;
}
.link_leia{
    font: bold 12px arial, verdana, sans-serif;
    float: right;
    text-decoration: none;

}

/*Puxa a mesma cor da barra layout*/
#rodape{
    clear: both;   
}
.rodape{
    width: 996px;
    height: 35px; 
    color: #fff;
    font-size: 13px;
    text-align: center;
    margin: 8px
}