
/* caixa geral(fundo) */
#geral{
    width: 1000px;
    height: 720px;
    margin: 0 auto;
}
 #banner{
    width: 996px;
    height: 185px;
    background: url(../imagem/logo.png); /*imagem via css*/
    
}
.border_layout{
    border: 2px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
}
.barra_layout{
    width: 996px;
    height: 35px;
    background:	#37af37;
    border-radius: 8px;
    margin: 5px auto 5px;
}
#menu{
    clear: both;
}
#menu ul{
    text-align: left;
    margin: 8px;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 50px;
    font: bold 15px arial, verdana, sans-serif;
}
#lado_esquerdo{
    width: 800px;
    height: 440px;
    float: left;
        
}
#lado_direito{
    width: 195px;
    height: 440px;
    float: right;
    border: 2px solid #000;
    border-radius: 8px;
    background: url(../imagem/racao.png);
} 

.lista_nao_ordenada{
    margin: 30px 0 0 0;
   /* list-style-type: circle; /*Tirara as bolinhas laterais*/
}
.estilo_ordenado{
    list-style-type: upper-roman;
}
.formatacao_tabela{
    margin: 30px 0 0 40px;
    width: 90%;
    border-collapse: collapse;
}
th, td{
    border-bottom: 1px solid #000;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.titulo_h1{
    text-align: center;
    font: bold 20px arial, verdana, sans-serif;
    margin: 40px 0 15px
}
#art1{
    width: 265px;
    height: 220px;
    float: left;
}
#art2{
    width: 265px;
    height: 220px;
    float: left;
    margin: 0 4px 0;
}

#art3{
    width: 259px;
    height: 220px;
    float: left;
}

#art4{
    width: 797px;
    height: 221px;
    float: left;
    margin: 4px auto 0;

}
.img_arvore{
    display: block;
    margin: 0 30px 0;  
    float: left; 
}
.texto_p{
    padding: 0 15px;
    
}

.link_leia{
    font: bold 12px arial, verdana, sans-serif;
    float: right;
    text-decoration: none;

}
.img_acessorio{
    width: 200px;
    float: right;
    display: block;
    border-radius: 20px;
    border: 1px solid #215;
    margin: 10px 37px  50px;
} 

/*Puxa a mesma cor da barra layout*/
#rodape{
    clear: both;
}
.rodape_p{
    width: 996px;
    height: 35px; 
    color: #fff;
    font: bold 13px arial, verdana, sans-serif;
    text-align: center;
    margin: 8px
}